@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Netspeed - Sistema de Chamados</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a asp-area="" asp-controller="Chamados" asp-action="Listar">
            <img src="~/images/Chamados.svg" alt="ASP.NET" class="img-responsive icon256" />
            <span>Chamados</span>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-area="" asp-controller="Departamentos" asp-action="Index">
            <img src="~/images/Departamentos.svg" alt="ASP.NET" class="img-responsive icon256" />
            <span>Departamentos</span>
        </a>
    </div>
</div>
